build
data
a.exe
b.exe
third_party
param0.txt
param1.txt
param.txt
param_base.txt
param_pattern.txt
param_pattern_hand.txt
state.txt
create_param_arr.py
ai_cython_exe.cp38-win_amd64.pyd
adjust_pattern.cpp
a.txt
param_pattern_compress.txt
